<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

headings = [];

onload = function(){
  headings = document.querySelectorAll('h2');
};

onscroll = function(e){
  var heading = find(window.scrollY);
  if (!heading) return;
  var links = document.querySelectorAll('#menu a')
    , link;

  for (var i = 0, len = links.length; i < len; ++i) {
    link = links[i];
    link.className = link.getAttribute('href') == '#' + heading.id
      ? 'active'
      : '';
  }
};

function find(y) {
  var i = headings.length
    , heading;

  while (i--) {
    heading = headings[i];
    if (y >= heading.offsetTop) {
      return heading;
    }
  }
}
jQuery(document).ready(function() {
  jQuery(['partial', 'miss']).each(function(i, clss) {
    var $els = jQuery('.'+clss);
    $els.each(function(index, item) {
      var $this = jQuery(item).attr('id', clss + index);
      if (index < $els.length - 1) {
        $this.find('.action').append(
          jQuery('<a>').attr('href', '#' + clss + (index + 1))
            .text('next')
        );
      }
    });
  });
  jQuery(window).on('hashchange', function (e) {
    if (!jQuery(window.location.hash).attr('tabindex')) {
      jQuery(window.location.hash).attr('tabindex', '-1').focus();
    }
  })
});
</script>
